*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw; 
    justify-content: auto ;
    align-content: start;
    grid-gap: 1vw;
}
.container-flex{
    display: flex;
}
#logo{
    grid-column: 3/5;
}
#logo img{
    width: 30vw;
    float: left;
    
}
h1{
    grid-column: span 6;
}
nav ul li{
    display: inline;
    list-style: none;
    font-weight: bold;
}
nav ul li a{
    margin-left: 5.5vw;
    margin-top: 3vh;
    width: 20vw;
    font-size: 2.2vw;
    text-decoration: none;
    color: #000;
}
nav{
    grid-column: span 6;
}
header{
    width: 100vw;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(189, 16, 16);
}
